
@{
    Layout = "_Layout";
}

    <div class="Contact-Section">
        <div class="p-3 mb-2 bg-secondary text-white rounded">
            <h1>Contact Us</h1>
        </div>
        <h3>Address</h3>
        <p>
            CHESSEX® MANUFACTURING<br>
            COMPANY, LLC<br>
            PO Box 80255<br>
            Fort Wayne, In 46898-0255<br>
            USA
        </p>
        <h3>Phone</h3>
        <small>(Available between 8:00am and 5:30pm EST)</small>
        <p>
            Tel: (260) 471-9511<br>
            Toll Free: 1-888-243-7739<br>
            (1-888-Chessex)<br>
            Fax: (260) 471-8020
        </p>
        <h3>Email</h3>
        <p>
            Info, orders, & sales:<br>
            sales@chessex.com<br>
            order@chessex.com
        </p>
        <a href="https://Twitter.com">
            <img src="\Images\Twitter_Button.png" alt="Twitter Logo" style="width:50px;height:50px;">
        </a>
        <a href="https://Facebook.com">
            <img src="\Images\Facebook_Button.png" alt="Twitter Logo" style="width:50px;height:50px;">
         </a>
         <a href="https://Instagram.com">
                <img src="\Images\Instagram_Button.png" alt="Twitter Logo" style="width:50px;height:50px;">
         </a>
</div>