
@{
    Layout = "_Layout";
}

<div class="about-section">
    <h1 class="text-center">About Us</h1 class="text-center">
    <p class="text-center">Founded in 1987, Chessex® has had a long history of manufacturing gaming accessories with an emphasis on dice.</pclass="text-center">
    <p class="text-center">Our goal is to provide high quality gaming accessories at an affordable price.</p>
    <p class="text-center">Because you can never have too many dice…</p>
</div>

<h2 style="text-align:center">Our Founder</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="text-center">
                <img src="\Images\Donald_Reents.jpg" alt="Donald Reents" style="width:400px;height:400px;">

                <div class="container">
                    <h2 class="text-center">Donald J. Reents</h2>
                    <p class="title text-center">CEO & Founder</p>
                    <p class="text-center">Donald has been in the gaming industry for decades as an avid chess and backgammon player. Donald cares about the quality of his products and one day decided that he needed to take matters into his own hands and make his own beautiful dice.</p>
                    <p class="text-center">DonaldReents@Gmail.com</p>
                    <button type="button" class="btn btn-primary">Contact</button>
                </div>
            </div>
        </div>
    </div>
    </div>
